{% extends 'base.html' %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="/static/fullcalendar/fullcalendar.print.css" media="print" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="/static/lib/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="/static/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      events: function(start, end, callback) {
        var slugs = $("input[type='checkbox']:checked").toArray();
        var slugs_pk = [];
        for(var i in slugs) {
          slugs_pk.push(slugs[i].value);
        }

        {% if calendar %}
        var url = '{% url 'event-list-ajax' slug=calendar.slug %}';
        {% else %}
        var url = '{% url 'event-list-ajax' %}';
        {% endif %}


        if(typeof calendar_source != 'undefined') {
          url = calendar_source.url;
        }
                   
        $.ajax({   
          url: url,
          data: {  
            pks:   slugs_pk.join(','),
            start: start.getTime(),
            end: end.getTime(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          method: 'POST',
          success: function(events) {
            callback(events);
          },
        });
      },

  });
  $("input[type='checkbox']").change(function() {
    $('#calendar').fullCalendar('refetchEvents');
  });

});

</script>
{% endblock %}

{% load i18n %}

{% block content %}
<div id="calendar-wrapper">
  <div id="calendar-nav">
    {% block calendar_nav %}{% endblock %}
  </div>
  <div id="calendar"></div>
</div>
{% endblock %}

